$font-main: 'Inter', sans-serif;
$font-weight-main: 400;
$text-line-height: 150%;

$page-bg: #fff;
$accent-bg: #1d1d1f;
$text-color: #1d1d1f;
$light-text-color: #fff;
$accent-color: #838383;
$light-button-color: #fff;
$dark-button-color: #1d1d1f;

$laptop-size: 1199px;
$tablet-size: 959px;
$mobile-size: 599px;