@use 'base/mixins' as *;
@use 'base/vars' as *;

.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: center;
  gap: 20px;
  min-height: 100vh;

  @include mobile {
    min-height: auto;
  }

  .about picture {
    justify-self: center;

    .about__image {
      width: 100%;
      max-width: 370px;
      height: auto;
    }
  }

  .about__content {
    max-width: 580px;

    .about__title {
      padding-block-end: 50px;
      font-weight: 700;
      font-size: clamp(1.125rem, 0.8532rem + 1.3592vw, 2rem);

      @include mobile {
        padding-block-end: 30px;
      }
    }

    .text {
      font-weight: 300;
      font-size: clamp(0.9375rem, 0.8792rem + 0.2913vw, 1.125rem);
      line-height: $text-line-height;
    }

    .text + .text {
      padding-top: 20px;
    }
  }
}