@use 'base/vars' as *;

.feedback {
  .feedback__wrapper {
    display: grid;
    gap: 60px;

    .feedback__text {
      font-size: clamp(0.9375rem, 0.8375rem + 0.5vw, 1.25rem);
      padding-block-start: 40px;
      padding-block-end: 20px;
      font-weight: 500;
    }

    .feedback__client {
      font-size: clamp(0.875rem, 0.795rem + 0.4vw, 1.125rem);
    }

    .feedback__client span {
      color: $accent-color;
    }

    .feedback__button {
      background-color: $dark-button-color;
      color: $light-text-color;
      padding: 18px 40px;

      margin-block-start: 0;

      justify-self: start;
    }
  }

  .feedback__wrapper .feedback__card:nth-child(even) {
    justify-self: end;
  }
}