@use 'base/vars' as *;

.button {
  display: inline-block;

  width: max-content;

  margin-block-start: 50px;
  border: none;

  outline: none;
  overflow: hidden;
  color: $text-color;
  font-size: clamp(0.875rem, 0.7973rem + 0.3883vw, 1.125rem);
  background-color: $light-button-color;

  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(0.9);
  }

  &:focus-visible {
    outline: 2px solid $accent-color;
  }
}